{% extends 'index.html' %}

{% block title %}My files{% endblock %}

{% block content %}
    <h2>My files</h2>

    {% if user.is_authenticated %}
        <form method="post" enctype="multipart/form-data" action="{% url 'upload_file' %}">
            <div class="form-group">
                <div class="file-input">
                    <div class="btn btn-file" tabindex="500">
                        <i class="glyphicon glyphicon-folder-open"></i>
                        &nbsp;Chose file…
                        <input class="" name="myfile" type="file">
                    </div>
                    {% csrf_token %}
                    <input type="hidden" name="next" value="{{ request.path }}">
                    <input type="hidden" name="records" value="{{ file_records }}">
                    <button class="btn btn-default fileinput-upload fileinput-upload-button" type="submit"
                            title="Upload selected files" tabindex="500">

                        <i class="glyphicon glyphicon-upload"></i>Upload
                    </button>
                </div>
            </div>
        </form>

        {% if messages %}
            <div class="form-group">
                {% for message in messages %}
                    <span class="{{ message.tags }}">{{ message }}</span>
                {% endfor %}
            </div>
        {% endif %}

        <table class="table table-striped">
            <tr>
                <th>Name</th>
                <th>Size</th>
                <th>Upload Date</th>
                <th></th>
                <th></th>
            </tr>
            {% if file_records %}
                {% for file in file_records %}
                    <tr>
                        <td>{{ file.file_name }}</td>
                        <td>{{ file.size|filesizeformat }}</td>
                        <td>{{ file.date_upload }}</td>
                        <td><a class="btn btn-primary" href="{% url 'download_file' file.id %}">Download</a></td>
                        <td><a class="btn btn-danger" href="{% url 'delete_file' file.id %}">Delete</a></td>
                    </tr>
                {% endfor %}
            {% else %}
                <tr>
                    <td>
                        <div>You have not uploaded any files yet.</div>
                    </td>
                </tr>
            {% endif %}
        </table>

    {% endif %}
{% endblock %}
