<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>{% block title %}File store service{% endblock %}</title>

    {% load static %}
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}" type="text/css">
</head>
<body>
<header>
    <nav class="navbar navbar-light bg-light">
        {% if user.is_authenticated %}
            <div>
                <a class="navbar-brand" href="{% url 'home' %}">File store service</a>
                <a class="navbar-brand" href="{% url 'home' %}">Homepage</a>
            </div>
        {% else %}
            <div>
            <a class="navbar-brand" href="{% url 'index' %}">File store service</a>
            </div>
        {% endif %}

        <div>
            {% if user.is_authenticated %}
                Hi {{ user.username }}!
                <a class="btn btn-primary btn-sm" href="{% url 'logout' %}">Logout</a>
            {% else %}
                <a class="btn btn-primary btn-sm" href="{% url 'login' %}">Login</a>
                <a class="btn btn-primary btn-sm" href="{% url 'registration' %}">Registration</a>
            {% endif %}
        </div>
    </nav>
</header>
<hr>
<main>
    {% block content %}
    {% endblock %}
</main>
<hr>
<footer>
</footer>
</body>
<script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
</html>