{% extends 'index.html' %}

{% block title %}See you!{% endblock %}

{% block content %}
  <h2>Logged out</h2>
  <p>You have been successfully logged out.</p>
  <p><a class="btn btn-success btn-sm" href="{% url 'login' %}">Log in</a> again.</p>
{% endblock %}
