{% extends 'index.html' %}

{% block title %}Login{% endblock %}

{% block content %}
    <h2>Login</h2>
    <div class="row col-md-12">

        <form method="post" action="{% url 'login' %}">
            {% csrf_token %}
            <table>
                <tr>
                    <td>{{ form.username.label_tag }} </td>
                    <td>{{ form.username }}</td>
                </tr>
                <tr>
                    <td>{{ form.password.label_tag }} </td>
                    <td>{{ form.password }}</td>
                </tr>
            </table>
            <button class="btn btn-success btn-sm" type="submit">Login</button>
            <input type="hidden" name="next" value="{{ next }}" />
        </form>
    </div>
    {% if form.errors %}
        {% for field in form %}
            {% for error in field.errors %}
                <div class="alert alert-danger">
                    <strong>{{ error|escape }}</strong>
                </div>
            {% endfor %}
        {% endfor %}
        {% for error in form.non_field_errors %}
            <div class="alert alert-danger">
                <strong>{{ error|escape }}</strong>
            </div>
        {% endfor %}
    {% endif %}
{% endblock %}
