{% extends 'index.html' %}

{% block title %}Registration{% endblock %}

{% block content %}
    <h2>Registration</h2>
    <div class="row col-md-12">
        <form method="post">
            {% if user_errors %}
                {% for error in user_errors %}
                    <p class="alert alert-danger">{{ error }}</p>
                {%  endfor %}
            {% endif %}
            {% csrf_token %}
            <table>
                <tr>
                    <td>{{ form.username.label_tag }} </td>
                    <td>{{ form.username }}</td>
                </tr>
                <tr>
                    <td>{{ form.email.label_tag }} </td>
                    <td>{{ form.email }}</td>
                </tr>
                <tr>
                    <td>{{ form.password.label_tag }} </td>
                    <td>{{ form.password }}</td>
                </tr>
            </table>
            <button class="btn btn-success btn-sm" type="submit">Sing up</button>
            <input type="hidden" name="next" value="{{ next }}" />
            {% if form.errors %}
                {% for field in form %}
                    {% for error in field.errors %}
                        <div class="alert alert-danger">
                            <strong>{{ error|escape }}</strong>
                        </div>
                    {% endfor %}
                {% endfor %}
                {% for error in form.non_field_errors %}
                    <div class="alert alert-danger">
                        <strong>{{ error|escape }}</strong>
                    </div>
                {% endfor %}
            {% endif %}
        </form>
    </div>
{% endblock %}
